{% extends "layout.html" %}

{% block content %}

<!-- .contents header -->
<section class="content-header">
  <h1>
    index3
    <small>Optional description</small>
  </h1>
</section>
<!-- /.contents header -->

<!-- Main content -->
<section class="content">

  <!-- Your Page Content Here -->

</section>

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(function(){
            $(".sidebar-menu #index3").addClass("active");
        });
    </script>
{% endblock %}