{% extends "layout.html" %}

{% block content %}

<!-- .contents header -->
<section class="content-header">
  <h1>
    クッション{{ cushion_id }}のセンサデータ
    <small>センサデータを管理するページです</small>
  </h1>
</section>
<!-- /.contents header -->

<!-- Main content -->
<section class="content">

    <!-- Your Page Content Here -->
    <p>コンテンツです</p>

</section>

{% endblock %}


{% block javascript %}
    <script type="text/javascript">
        $(function(){
            $(".sidebar-menu #sensor-data").addClass("active");
        });
    </script>
{% endblock %}