<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Starter</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/admin-lte/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/admin-lte/dist/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/admin-lte/dist/css/skins/skin-blue.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom/css/style.css') }}">
    {% block css %}{% endblock %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        {% include "header.html" %}
        {% include "sidebar.html" %}

        <!-- .content -->
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>
        <!-- /.content -->

        {% include "footer.html" %}

    </div>
    <!-- REQUIRED JS SCRIPTS -->
    <script src="{{ url_for('static', filename='bower_components/admin-lte/plugins/jQuery/jquery-2.2.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/admin-lte/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/admin-lte/dist/js/app.min.js') }}"></script>
    <script src="{{ url_for('static', filename='custom/js/main.js') }}"></script>
    {% block javascript %}{% endblock %}
    </body>
</html>