<aside class="main-sidebar">

    <section class="sidebar">

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">管理画面</li>
        <!-- Optionally, you can add icons to the links -->
        <li id="index">
          <a href="/">
            <i class="fa fa-circle-o text-aqua"></i><span>クッション</span>
          </a>
        </li>
{#        <li id="index2">#}
{#          <a href="/index2">#}
{#            <i class="fa fa-circle-o text-aqua"></i><span>センサデータ</span>#}
{#          </a>#}
{#        </li>#}
        <li id="sensor-data">
          <a href="/sensor_data">
            <i class="fa fa-circle-o text-aqua"></i><span>センサデータ</span>
              <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
          </a>
          <ul class="treeview-menu">
              <!-- クッションのリストが格納されます. -->
          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>

{% block javascript %}
    <script>
        $(function() {
            $.getJSON("/api/cushion/all", function(data) {
                var elem = $("#sensor-data ul.treeview-menu")
                $.each( data.data, function (key, val) {
                    elem.append("<li><a href=/sensor_data/"+val.id+">"+val.name+"</a></li>");
                });
            });
        })
    </script>
{% endblock %}